<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Vehicle_Spare_part_shop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerinsertServlet</display-name>
    <servlet-name>CustomerinsertServlet</servlet-name>
    <servlet-class>Servlet.CustomerinsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerinsertServlet</servlet-name>
    <url-pattern>/CustomerinsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>Servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarddetailsServlet</display-name>
    <servlet-name>CarddetailsServlet</servlet-name>
    <servlet-class>Servlet.CarddetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarddetailsServlet</servlet-name>
    <url-pattern>/CarddetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardinsertServlet</display-name>
    <servlet-name>CardinsertServlet</servlet-name>
    <servlet-class>Servlet.CardinsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardinsertServlet</servlet-name>
    <url-pattern>/CardinsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletecardServlet</display-name>
    <servlet-name>DeletecardServlet</servlet-name>
    <servlet-class>Servlet.DeletecardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletecardServlet</servlet-name>
    <url-pattern>/DeletecardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatecardServlet</display-name>
    <servlet-name>UpdatecardServlet</servlet-name>
    <servlet-class>Servlet.UpdatecardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatecardServlet</servlet-name>
    <url-pattern>/UpdatecardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>Servlet.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>Servlet.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>ProductServlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProductsServlet</display-name>
    <servlet-name>DisplayProductsServlet</servlet-name>
    <servlet-class>ProductServlet.DisplayProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProductsServlet</servlet-name>
    <url-pattern>/DisplayProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>ProductServlet.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>ProductServlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierRequestServlet</display-name>
    <servlet-name>SupplierRequestServlet</servlet-name>
    <servlet-class>SupplierRequestServlet.SupplierRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierRequestServlet</servlet-name>
    <url-pattern>/SupplierRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySupplierRequestsServlet</display-name>
    <servlet-name>DisplaySupplierRequestsServlet</servlet-name>
    <servlet-class>SupplierRequestServlet.DisplaySupplierRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySupplierRequestsServlet</servlet-name>
    <url-pattern>/DisplaySupplierRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatusServlet</display-name>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <servlet-class>SupplierRequestServlet.UpdateStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <url-pattern>/UpdateStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayRequestsStatusServlet</display-name>
    <servlet-name>DisplayRequestsStatusServlet</servlet-name>
    <servlet-class>SupplierRequestServlet.DisplayRequestsStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayRequestsStatusServlet</servlet-name>
    <url-pattern>/DisplayRequestsStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSupplierProductServlet</display-name>
    <servlet-name>AddSupplierProductServlet</servlet-name>
    <servlet-class>AddSupplierProductServlet.AddSupplierProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupplierProductServlet</servlet-name>
    <url-pattern>/AddSupplierProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSupplierProductsServlet</display-name>
    <servlet-name>AddSupplierProductsServlet</servlet-name>
    <servlet-class>SupplierProductsServlet.AddSupplierProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupplierProductsServlet</servlet-name>
    <url-pattern>/AddSupplierProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySupplierProductsServlet</display-name>
    <servlet-name>DisplaySupplierProductsServlet</servlet-name>
    <servlet-class>SupplierProductsServlet.DisplaySupplierProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySupplierProductsServlet</servlet-name>
    <url-pattern>/DisplaySupplierProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSupplierProductServlet</display-name>
    <servlet-name>DeleteSupplierProductServlet</servlet-name>
    <servlet-class>SupplierProductsServlet.DeleteSupplierProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSupplierProductServlet</servlet-name>
    <url-pattern>/DeleteSupplierProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSupplierProductServlet</display-name>
    <servlet-name>UpdateSupplierProductServlet</servlet-name>
    <servlet-class>SupplierProductsServlet.UpdateSupplierProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSupplierProductServlet</servlet-name>
    <url-pattern>/UpdateSupplierProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPaymentServlet</display-name>
    <servlet-name>AddPaymentServlet</servlet-name>
    <servlet-class>PaymentServlet.AddPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPaymentServlet</servlet-name>
    <url-pattern>/AddPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPaymentsServlet</display-name>
    <servlet-name>GetPaymentsServlet</servlet-name>
    <servlet-class>PaymentServlet.GetPaymentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPaymentsServlet</servlet-name>
    <url-pattern>/GetPaymentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePaymentServlet</display-name>
    <servlet-name>UpdatePaymentServlet</servlet-name>
    <servlet-class>PaymentServlet.UpdatePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePaymentServlet</servlet-name>
    <url-pattern>/UpdatePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePaymentServlet</display-name>
    <servlet-name>DeletePaymentServlet</servlet-name>
    <servlet-class>PaymentServlet.DeletePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePaymentServlet</servlet-name>
    <url-pattern>/DeletePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySendRequestServlet</display-name>
    <servlet-name>DisplaySendRequestServlet</servlet-name>
    <servlet-class>AdminRequestServlets.DisplaySendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySendRequestServlet</servlet-name>
    <url-pattern>/DisplaySendRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePendingRequestServlet</display-name>
    <servlet-name>DeletePendingRequestServlet</servlet-name>
    <servlet-class>SupplierRequestServlet.DeletePendingRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePendingRequestServlet</servlet-name>
    <url-pattern>/DeletePendingRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRecievedOrders</display-name>
    <servlet-name>ViewRecievedOrders</servlet-name>
    <servlet-class>SupplierRequestServlet.ViewRecievedOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRecievedOrders</servlet-name>
    <url-pattern>/ViewRecievedOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessOrderServlet</display-name>
    <servlet-name>ProcessOrderServlet</servlet-name>
    <servlet-class>SupplierRequestServlet.ProcessOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessOrderServlet</servlet-name>
    <url-pattern>/ProcessOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSendSupplierRequestServlet</display-name>
    <servlet-name>UpdateSendSupplierRequestServlet</servlet-name>
    <servlet-class>AdminRequestServlets.UpdateSendSupplierRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSendSupplierRequestServlet</servlet-name>
    <url-pattern>/UpdateSendSupplierRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSendSupplierRequestServlet</display-name>
    <servlet-name>DeleteSendSupplierRequestServlet</servlet-name>
    <servlet-class>AdminRequestServlets.DeleteSendSupplierRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSendSupplierRequestServlet</servlet-name>
    <url-pattern>/DeleteSendSupplierRequestServlet</url-pattern>
  </servlet-mapping>
</web-app>